<nav role="navigation">
	<div class="nav-items">
		<ul>
			<li>
				<a href="/">home</a>
			</li>
			<li>
				<a href="/about">about</a>
			</li>
			<li>
				<a href="/work">hire me</a>
			</li>
			<li>
				<a href="/resume">resume</a>
			</li>
			<li>
				<a href="https://github.com/themattbook">github </a>
			</li>
			<li>
				<a href="/blog">blog</a>
			</li>
		</ul>
	</div>
</nav>
