<nav class="navigation">
	<div class="nav-left"><a href="/">//</a></div>
	<div class="nav-items">
		<ul>
			<li>
				<a href="/about"><span class="digit">01:</span> about</a>
			</li>
			<li>
				<a href="/work"><span class="digit">02:</span> hire me</a>
			</li>
			<li>
				<a href="/resume"><span class="digit">03:</span> resume</a>
			</li>
			<li>
				<a href="https://github.com/themattbook"
					><span class="digit">04:</span> github
				</a>
			</li>
			<li>
				<a href="/blog"><span class="digit">05:</span> thoughts</a>
			</li>
		</ul>
	</div>
</nav>
