---
title: Blog
layout: 'base.njk'
---

<h1>Recent Articles</h1>

<ul>
	{%- for post in collections.post | reverse -%}
	<li>
		<article>
			<h3>{{ post.data.title }}</h3>
			<p>{{ post.data.date | postDate }}</p>
			<p>{{ post.data.description }}</p>
			<a href="{{ post.url }}">{{ post.url }}</a>
		</article>
	</li>
	{%- endfor -%}
</ul>
