---
title: 'Matthew Sweet: Blog'
layout: 'base.njk'
---

<section class="grid-cols-2">
	<div class="headline-container">
		<p class="headline">
			My name is Matt. I&apos;m a <strong>FullStack Engineer</strong> and
			3-time olympic <strong>gold medalist</strong>, accomplished
			<strong>physicist</strong>, and I wear
			<strong>velcro</strong> shoes...
		</p>
	</div>
	<div class="about-me">
		<h1>...and only one of those statements are true.</h1>
		<p>
			It took me 3 hours to think of something noteworthy to say here.
			Literally. After several long deliberations with my inner monologue,
			I decided to let you in on the struggle. No, not very professional,
			but also... personable.
		</p>
		<p>
			I'm 41. I write code. I hate it when people ask for "pixel-perfect"
			and then expect "responsive". I often forget the small details. I am
			terrible at commenting my code. I don't like large teams. I bite my
			nails. I think TypeScript was invented by people who wanted to milk
			the budget on their project as much as possible. Either that, or
			they've never heard of console logging. Mobile-first is the worst
			idea humans have ever had.
		</p>
		<p>
			I'm obsessed with white space and minimal designs. I love React, I
			have a love-hate relationship with Vue, Android > iPhone, and PC
			gaming is the only way. I once loved Tailwindcss until I met Sass.
			Clean code is subjective. I don't eat pork. Writing music is
			therapy. I'm in school earning my Master's Degree in Psychology.
		</p>
		<p>This site was built using eleventy, aka Nunchuks w/ Front Matter</p>
	</div>
</section>
