---
title: 'Matthew Sweet'
layout: 'base.njk'
---

<div class="full-width">
	<section class="flex-centered">
		<div class="featured">
			<p>Developer / Musician / Space & Weather Nerd</p>
			<h1 class="headline">Matthew Sweet</h1>
		</div>
	</section>
</div>
